<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="/js/axios.min.js"></script>
</head>

<body>
    <h1>Hello Express</h1>
    <button id="login">LOGIN - TEST</button>
    <button id="getUsers">GET_USERS - TEST</button>
    <button id="getWeather">GET_WEATHER - TEST</button>
    <br><br>
    <button id="addCategory">ADD_CATEGORY - TEST</button>
    <button id="getCategory">GET_CATEGORY - TEST</button>
    <button id="deleteCategory">DELETE_CATEGORY - TEST</button>


    <script src="/js/index.js"></script>
</body>

</html>